<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next Word Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#clear").click(function () {
                $("#sent").val("");
                guess();
                $("#sent").focus();
            });
        });

        function append(str) {
            var sent = $("#sent").val();
            if (sent.charAt(sent.length - 1) === " ")
                sent += str + " ";
            else {
                var li = sent.split(" ");
                li[li.length - 1] = str;
                sent = li.join(" ") + " ";
            }
            $("#sent").val(sent);
            guess();
            $("#sent").focus();
        }

        function guess() {
            var sent = $("#sent").val();
            if (sent.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: "char",
                    data: {"test": sent},
                    datatype: "json",
                    success: function (data) {
                        for (var key in data) {
                            var value = data[key];
                            $("#item" + key).html(value);
                        }
                    }
                });
            } else
                for (var key in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"])
                    $("#item" + key).html(" ");
        }
    </script>
</head>
<body>
<div class="container">
    <br>
    <h3>Next Word Predictor</h3>
    <br>
    <form>
        <div class="input-group">
            <input type="text" id="sent" class="form-control" value="" aria-describedby="button-addon4"
                   onkeyup="guess()" placeholder="Sentence">
            <div class="input-group-append" id="button-addon4">
                <span class="btn btn-outline-secondary" type="button" id="item0"
                      onclick="append(this.innerText)"> </span>
                <span class="btn btn-outline-secondary" type="button" id="item1"
                      onclick="append(this.innerText)"> </span>
                <span class="btn btn-outline-secondary" type="button" id="item2"
                      onclick="append(this.innerText)"> </span>
            </div>
        </div>
    </form>
    <br>
    <div>
        <h5>More choices</h5>
        <ul class="list-group list-group-horizontal">
            <!--            <li class="list-group-item" id="item0"></li>-->
            <!--            <li class="list-group-item" id="item1"></li>-->
            <!--            <li class="list-group-item" id="item2"></li>-->
            <li class="list-group-item" id="item3"></li>
            <li class="list-group-item" id="item4"></li>
            <li class="list-group-item" id="item5"></li>
            <li class="list-group-item" id="item6"></li>
            <li class="list-group-item" id="item7"></li>
            <li class="list-group-item" id="item8"></li>
            <li class="list-group-item" id="item9"></li>
        </ul>
    </div>
    <br>
    <button type="button" class="btn btn-outline-danger" id="clear">Clear</button>
</div>
</body>
</html>
